@import "./variables"
@import "./normilize"

html
  background-color: $color-background

.g-container
  padding: 2rem

.g-background
  background-color: $color-background

.g-form
  display: flex
  flex-direction: column
  align-items: center

  .g-form-field__error
    color: $color-error
    font-weight: bold
    margin-top: 1rem
    height: 1.25rem

    p
      margin: 0

  .g-form-field
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    label
      color: $color-white
      margin-bottom: .5rem

    .g-form-field__input-wrapper
      height: calc(2rem - 4px)
      display: flex
      flex-direction: row
      border: 2px solid transparent
      border-radius: calc($border-radius-g-interactives + 0.1rem)
      transition: border 500ms

      .g-form-field__input-icon
        color: $color-black
        background-color: $color-white
        border-radius: $border-radius-g-interactives 0 0 $border-radius-g-interactives
        padding-left: .5rem
        padding-right: .125rem
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        user-select: none

      input
        border-top-right-radius: $border-radius-g-interactives
        border-bottom-right-radius: $border-radius-g-interactives
        border-style: none
        height: 100%
        padding: 0rem
        padding-right: 1rem

        &:focus
          outline: none

    .g-form-field__input-wrapper--rejected
      border: 2px solid $color-error

.g-button
  background-color: $color-primary
  font-weight: semibold
  border-radius: .5rem
  border-style: none
  color: $color-white
  cursor: pointer
  font-size: 1rem
  padding: .75rem 1rem
  margin-top: 1.5rem
  vertical-align: baseline
  transition: background-color 500ms
  text-transform: uppercase

  &:hover:not([disabled]),
  &:focus
    background-color: $color-primary-white20
