$color-background: #21222b
$color-primary: #6063d2
$color-primary-white10: #7073d7
$color-primary-white20: #8082db
$color-secondary: #2f313a
$color-error: #e83b3b
$color-warning: #ff6633
$color-warning-white20: #ff855c
$color-info: #00A99D
$color-info-white20: #33bab1
$color-success: #71b739
$color-white: #FFFFFF
$color-black: #000000

// border-radius for global interactives elements
$border-radius-g-interactives: .5rem
$border-radius-g-cards: 1rem

// min-sizes in responsives screens
$min-width-screen: 1280px
$min-height-screen: 720px

// paggination section configurations
$size-pagination-controllers: 5rem
